# mysql
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# prisma
# DATABASE_URL=
# primsa (root user for migration)
DATABASE_URL=

# google credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# youtube api key
YOUTUBE_API_KEY=

# next-auth
AUTH_SECRET=

